@bgColor: #108ee9;

#main-continaer {
    height: 100%;
}

header.header {
    display: flex;
    background: @bgColor;
    color: #fff;

    .logo {
        float: left;
        margin-right: 10px;

        .link {
            display: inline-block;
        }

        img {
            display: inline-block;
            height: 40px;
        }
    }

    .mid-header {
        background: @bgColor;
        text-align: center;
        flex: 1;
        border-bottom: 1px solid @bgColor;

        li a {
            display: block;
            color: #fff;
        }

        li:hover {
            background-color: #fff;

            a {
                color: @bgColor;
            }
        }
    }
}

.main-content {
    margin: 0 40px 20px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: #fff;
}

.log-out {
    float: right;
}
