#root {
    height: 100%;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ddd;
}
::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    border-radius: 10px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-track {
    // border-radius: 10px;
}
