.login-container {
    margin: 200px auto 0;
    height: 100%;
    width: 600px;
}
.logo {
    margin: 20px auto;
    vertical-align: middle;
    text-align: right;
    .icon {
        width: 100px;
        height: 100px;
        // margin-right: 30px;
    }
    .text {
        font-size: 16px;
        line-height: 100px;
        text-align: left;
    }
}
