@bd-color: #e8e8e8;

.HGT-100 {
    height: 100%;
}

.PDB-10 {
    padding-bottom: 10px;
}

.PD-5 {
    padding: 5px;
}

.PD-10 {
    padding: 10px;
}

.PD-15 {
    padding: 15px;
}

.PDW-10 {
    padding: 0 10px;
}

.PDH-10 {
    padding: 10px 0;
}

.BD-normal {
    border: 1px solid @bd-color;
}

.PS-rlt {
    position: relative;
}

.MG-0 {
    margin: 0;
}

.MGL-20 {
    margin-left: 20px;
}

.MGB-20 {
    margin-bottom: 20px;
}

.FT-RED {
    color: red;
}

.pointer-move {
    cursor: move;
}

.DP-NO {
    display: none;
}

.FT-18 {
    font-size: 18px;
}

.FT-20 {
    font-size: 20px;
}

.clear {
    overflow: hidden;

    &::after {
        display: table;
        clear: both;
    }
}
